*{
    margin: 0;
}
p{
    font-size: large;
    line-height: 1.5;
    font-weight: 500;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 2%;
    min-height: 5vh;
    width: 96%;
    background-color: rgb(60, 60, 130);
    color: rgb(231, 223, 223);
}
header h2{
    margin-left: 5%;
}
#navbar{
    list-style-type: none;
    display: flex;
    margin-right: 5%;
    flex-wrap: wrap;
}
.navItem{
    margin: 0 15px;
    cursor: pointer;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid lightblue;
    padding: 5px 10px;
    border-radius: 15px;
}
.navItem a{
    color: inherit;
    text-decoration: none;
}
.navItem a:visited{
    color: inherit;
}
.navItem:hover,
.navItem:focus{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 80);
}
/* Intro */
#introText{
    display: flex;
    background-color: rgb(30, 30, 80);
    color: rgb(231, 223, 223);
    justify-content: center;
    align-content: center;
    padding: 5% 10%;
    text-align: center;
}
#introBox{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 2%;
    display: inline-block;
    min-width: 40%;
}
/* About Me */
#aboutMe{
    background-color: rgb(30, 30, 80);
    margin-top: 0;
    min-height: 10vh;
    padding-top: 5%;
    padding-bottom: 5%;
}
#aboutMeText{
    text-align: center;
    max-width: 60%;
    min-height: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 15px;
    background-color: rgb(145, 145, 179);
}
/* Projects */
#projects{
    background-color: rgb(30, 30, 80);
    margin-top: 0;
    min-height: 10vh;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
#projectHeader{
    display: block;
    margin-bottom: 1%;
    background-color: rgb(145, 145, 179);
    width: 10%;
    margin: auto;
    border-radius: 15px;
}
#projectText{
    max-width: 90%;
    min-height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    justify-content: space-around;
}
.projectBox{
    display: inline-block;
    padding: 1%;
    width: 20%;
    min-height: 60%;
    margin: 0 1%;
    border-radius: 15px;
    background-color: rgb(145, 145, 179);
}
/* Interests / What I Know */
#whatIKnow{
    background-color: rgb(30, 30, 80);
    margin-top: 0;
    min-height: 10vh;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
#whatIKnowHeader{
    display: block;
    margin-bottom: 1%;
    background-color: rgb(145, 145, 179);
    width: 10%;
    margin: auto;
    border-radius: 15px;
}
#knowledgeBoxes{
    max-width: 90%;
    min-height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
}
.knowledgeBox{
    display: inline-block;
    padding: 1%;
    min-width: 15%;
    max-width: 30%;
    min-height: 40%;
    margin: 0 2%;
    border-radius: 15px;
    background-color: rgb(145, 145, 179);
    text-align: center;
}
/* Footer */
footer{
    background-color: rgb(60, 60, 130);
    color: rgb(231, 223, 223);
    text-align: center;
    padding: 1% 0;
    height: 100%;
}